
         <!-- {% if user.is_authenticated %}
            <li class="drop-down"><a href="">Setting</a>
                <ul>
                  <li><a href="">{{user.username}}<span class="badge badge-primary ml-2" style="font-size: 12px;">Employee</span></a></li>
                  <li class="drop-down"><a href="#">Reports Submission</a>
                    <ul>
                      <li><a href="{% url 'chemistcall-report' %}">Chemist Call Report</a></li>
                      <li><a href="{% url 'dailyplan-report' %}">Daily PLan</a></li>
                      <li><a href="{% url 'dailyworkingreport-report' %}">Daily Working Report</a></li>
                      <li><a href="{% url 'daysummary-report' %}">Day summary</a></li>
                      <li><a href="{% url 'doctorvisit-report' %}">Doctor Visit Form</a></li>
                      <li><a href="{% url 'drvisit-report' %}">Dr Visit</a></li>
                      <li><a href="{% url 'drvisitreport-report' %}">Doctor Visit Report</a></li>
                      <li><a href="{% url 'expenses-report' %}">Expenses Form</a></li>
                      <li><a href="{% url 'rcpa-report' %}">RCPA Form</a></li>
                      <li><a href="{% url 'hq-report' %}">HQ-List From<span class="badge badge-primary ml-2" style="font-size: 12px;">New</span></a></li>
                      <li>
                        <a href="{% url 'chemist-list' %}">Chemist List Format
                          <span class="badge badge-primary ml-2" style="font-size: 12px;">New</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="{% url 'logout'%}">Logout
                      <i>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                          <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
                        </svg>
                      </i>
                    </a>
                  </li>
                </ul>
            </li>
            <li >
              <a href="">
                <i>
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/><path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/></svg>
                </i>
              </a>
            </li>
            {% else %}
              <li><a href="{% url 'login'%}"> Employee Login </a></li>
            {% endif %} -->