{% extends 'accounts/main2.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



<div class="container" style="margin-top: 40px;">
	<div class="row">
		<div class="col-md-4 sm-6"> 

				<div class="card promoting-card shadow" style="width: 40rem;">
				<style type="text/css">
					.collapse-content .fa.fa-heart:hover {
			  color: #f44336 !important;
			}
			.collapse-content .fa.fa-share-alt:hover {
			  color: #0d47a1 !important;
			}
				</style>

			  <!-- Card content -->
			  <div class="card-body d-flex flex-row">

			    <!-- Avatar -->
			    <!--<img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar"> -->

			    <!-- Content -->
			    <div>

			      <!-- Title -->
			      <h4 class="card-title font-weight-bold mb-2 ">Password Reset Step - 3</h4>
			      <!-- Subtitle -->
			      <p class="card-text  pt-3">
			      	<i class="far fa-clock pr-2"> 
			      	{% if validlink %}
						<p>Please enter your new password twice:</p>
						<form action="." method="post">
							 {{ form | crispy }}
							 {% csrf_token %}

						<p>
						<button type="submit" class="btn btn-primary" > Change Password </button>
						</p>
						</form>
					
					{% else %}
							
						<p>
							The password reset link was invalid, possibly because it has
							 already been used. Please request a new password reset.

						</p>
					{% endif %}
					</i>

			    </div>

			  </div>

			</div>
			<!-- Card -->

		</div>
	</div>	
</div>

{% endblock content %}




<h1>Reset your password</h1>

</form>

