<!-- ======= Header ======= -->
{% load static %}
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container">
    <div class="header-container d-flex align-items-center">
      <div class="logo mr-auto"  >
        <!-- <h1 class="text-light"><a href="index.html"><span>Arnoc</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html"><img  src="static\assets1\img\logohome1.png" alt="" , style="max-width:300% ; max-height: 50px;"><br></a>
        
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#header" >Home</a></li>
          <li><a href="" style="font-size: 15px; padding-bottom: 15px;">About</a></li>
            <li  style="font-size: 10px;"><a href="">logout</a></li>

            
          

        </ul>
      </nav><!-- .nav-menu -->
    </div><!-- End Header Container -->
  </div>
</header><!-- End Header -->